/* ==============================================================
   HEADER
   - Styles for anything that resides in the header
   ============================================================== */

#header {
    .navbar-collapse {
        flex-grow: 0;
    }

    .navbar-brand {
        img {
            width: 120px;
            height: 31px;
        }
    }
}
